/*Fonts*/
@font-face{
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
        url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
}
@font-face {
  font-family: "Roboto Medium";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto Medium"),
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}
@font-face {
  font-family: "Roboto Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto Bold"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
}

/*Variables*/
:root{
  --white:#FFFFFF;
  --black: #323232;
  --gray: #5A5A5A;

  --users-icon-background: rgba(255, 255, 255, 0.2);

  --header-menu-hover: #FBDED7;
  --header-menu-focus: #F6B5A5;

  --link-hover: #E84D37;

  --first-background: #9D8B84;
  --second-background: #8996A6;
  --third-background: #849D8F;

  --form-background: #F8F7F4;

  --catalog-button-shadow-focus: #696969;
  --catalog-focus:#EDEDED;
  --catalog-selected:#D07058;

  --text-decoration-grey:rgba(255, 255, 255, 0.2);
  --text-decoration-hover:rgba(232, 77, 55, 0.3);

  --button-shadow: rgba(160, 32, 11, 0.76);
  --button-shadow-focus: #942718;
}
.page-body{
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content min-content;
  min-width: 1146px;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  font-family: "Roboto Bold","Arial",sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
}
.back-site{
  position: fixed;
  margin-top: -9px;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.display-none{
  display: none;
}
.slider-1{
  background-color: var(--third-background);
}
.slider-2{
  background-color: var(--second-background);
}
.slider-3{
  background-color: var(--first-background);
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container{
  width: 1146px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}
.button{
  color: var(--white);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  border: none;
  text-shadow: 0px 2px 5px var(--button-shadow);
  cursor: pointer;
}
.button:hover{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
}
.button:focus{
  background: linear-gradient(0deg, rgba(201, 152, 152, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px var(--button-shadow-focus);
  outline: none;
}
/*Header*/
.main-navigation{
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}
.main-navigation-wrapper{
  width: 100%;
}
.main-header-bar{
  background-color: var(--first-background);
}
.main-navigation{
  display: flex;
  flex-direction: column;
}
.header-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: -38px;
}
.main-header-logo{
  width: 154px;
  height: 64px;
  cursor: pointer;
}
.site-navigation{
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  width: 592px;
  flex-wrap: wrap;
  list-style: none;
}
.site-navigation li{
  align-self: center;
}
.site-navigation li:not(.catalog-item){
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 15px;
}
.site-navigation li.li-catalog{
  margin-left: 12px;
  margin-right: 2px;
}
.site-navigation-item:nth-child(n+2){
  margin-right: 0;
}
.site-navigation-item{
  display: inline-block;
  color: var(--white);
  text-decoration: none;
  border-bottom: 1px solid var(--text-decoration-grey);
}
.site-navigation-item:nth-last-child(1):hover{
  color: var(--link-hover);
  border-bottom: 1px solid var(--text-decoration-hover);
}
.user-navigation{
  margin-left: auto;
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.contact-info{
  z-index: 1;
  min-width: 167px;
  margin-left: auto;
}
.header-contact-info{
  font-size: 14px;
  line-height: 16px;
  text-align: end;
  margin-top: 2px;
  margin-bottom: 8px;
}
.contacts-phone{
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: var(--white);
}
/*Catalog*/
.catalog{
  display: inline-block;
  position: relative;
  border: none;
  text-decoration: underline var(--text-decoration-grey);
  padding: 5px 13px 5px 13px;
}
.site-navigation .li-catalog{
  border-radius: 26px;
}
.catalog:not([href]){
  background: var(--catalog-selected);
  color: var(--white);
  border-radius: 26px;
  text-decoration: none;
}
.site-navigation .catalog[href]:hover{
  background: var(--white);
  color: var(--black);
  border-radius: 26px;
  text-decoration: none;
}
.catalog:focus{
  background: var(--catalog-focus);
  color: var(--black);
  box-shadow: inset 0px 2px 1px var(--catalog-button-shadow-focus);
  border-radius: 26px;
  text-decoration: none;
}
.catalog-selected{
  background: var(--catalog-selected);
  border-radius: 26px;
  padding: 5px 13px 5px 13px;
}
.catalog-list{
  display: none;
  margin-top: -15px;
}
.site-navigation .li-catalog:hover{
  height: 37px;
  margin-bottom: 7px;
}
.li-catalog:hover .catalog-list{
  position: absolute;
  width: 143px;
  min-height: 171px;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  top: 65px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.catalog-item:first-child{
  line-height: 18px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}
.catalog-item:nth-last-child(-n+4){
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
}
.catalog-item-selected{
  background: #D07058;
}
.catalog-item a{
  padding: 8.5px 20px 8.5px 21px;
  text-decoration: none;
  display: inline-block;
  width: 102px;
  color:var(--black);
  margin: 0;
}
.catalog-item:first-child a{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 9px 20px 10px 21px;
}
.catalog-item:last-child a{
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.catalog-item:not(.catalog-item-selected) a:hover{
  background: var(--header-menu-hover);
}
.catalog-item:not(.catalog-item-selected) a:focus{
  background: var(--header-menu-focus);
}
.catalog-item-selected{
  background: var(--catalog-selected);
}
.catalog-item-selected a{
  color: var(--white);
}
/*login*/
.login{
  position: relative;
  min-width: 92px;
  height: 32px;
  margin-top: 14px;
  margin-right: 10px;
  border-radius: 20px;
}
.login:hover{
  height: 36px;
  border-radius: 0;
}
.login-icon{
  min-height: 32px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto Medium","Arial",sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--white);
  text-decoration: none;
  background: var(--users-icon-background);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-icon:hover,
.login-icon:hover svg{
  background: var(--white);
  fill: var(--black);
  color: var(--black);
}
.login-icon:focus,
.login-icon:focus svg{
  background: var(--white);
  fill: var(--black);
  color: var(--black);
}
.login-icon span{
  margin-right: 16px;
}
.login-icon svg{
  margin-right: 8px;
  margin-left: 16px;
  fill: white;
}
.login-link-form{
  display: none;
  position: absolute;
  height:179px;
  width:241px;
  background: var(--form-background);
  border-radius: 6px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  padding-left: 19px;
  padding-right: 17px;
  padding-bottom: 16px;
  margin-top: 4px;
  z-index: 2;
  right: 0;
}
.login:hover .login-link-form{
  display: block;
}
.login-link-form form{
  display: flex;
  flex-wrap: wrap;
  height:173px;
  width:241px;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 0;
}
.login-link-form a{
  color: var(--black);
  font-size: 13px;
  line-height: 15px;
  border-bottom:1px solid rgba(50, 50, 50, 0.3);
  text-decoration: none;
}
.login-link-form p{
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  margin-bottom: 2px;
}
.login-link-form input{
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  height: 12px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  padding: 15px;
  outline: none;
}
.login-link-form input:hover{
  border: 2px solid rgba(178, 178, 178, 0.52);
  height: 10px;
  padding-left: 14px;
}
.login-link-form input:focus{
  border: 2px solid rgba(46, 136, 228, 0.52);
  height: 12px;
}
.login-link-form button{
  min-height: 44px;
  width: 103px;
  border-radius: 26px;
  font-size: 18px;
  line-height: 16px;
}
/*Basket*/
.basket{
  position: relative;
  min-width: 100px;
  height: 32px;
  margin-top: 14px;
  border-radius: 20px;
}
.basket:hover{
  height: 36px;
  border-radius: 0;
}
.basket-icon{
  position: relative;
  min-width: 100px;
  height: 32px;
  white-space: nowrap;
  font-family: "Roboto Medium","Arial",sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--white);
  text-decoration: none;
  background: var(--users-icon-background);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basket-products-svg{
  fill: none;
}
.basket-icon span{
  margin-right: 16px;
}
.basket-icon svg{
  margin-right: 7px;
  margin-left: 16px;
  fill: #fff;
}
.basket-icon:hover{
  color: var(--black);
  background-color: var(--white);
}
.basket-icon:hover svg{
  fill: var(--black);
}
.basket-icon:not(.basket-empty):hover .basket-products-svg{
  fill: #E84D37;
}
.basket-icon:focus{
  color: var(--black);
  background-color: var(--white);
}
.basket-icon:focus svg{
  fill: var(--black);
}
.basket-icon:not(.basket-empty):focus .basket-products-svg{
  fill: #E84D37;
}
.basket-form{
  display: none;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-self: start;
  position: absolute;
  right: 0px;
  width: 510px;
  min-height: 201px;
  background: var(--form-background);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  color: var(--black);
  margin-top: 4px;
  padding: 20px 14px 20px 15px;
}
.basket:hover .basket-form{
  display: flex;
}
.basket-form table{
  border-bottom: 1px solid #CACAC7;
  font-size: 13px;
  line-height: 16px;
  font-family: "Roboto Medium","Arial",sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  margin-top: -9px;
  margin-left: 4px;
  padding-bottom: 6px;
}
.basket-form tr{
  display: block;
  margin-bottom: 9px;
}
.basket_remove_item{
  height: 11px;
  width: 12px;
}
.basket_remove_icon{
  height: 11px;
  width: 11px;
  padding: 0;
  display: block;
  margin: auto;
  background: none;
  background-image: url("../img/basket_delete_item.svg");
  background-repeat: no-repeat;
  outline: none;
  border: none;
  cursor: pointer;
}
.basket_image_item{
  height: 33px;
  width: 47px;
}
.basket_name_item{
  padding-top: 5px;
  width: 218px;
  min-height: 40px;
  padding-right: 25px;
}
.basket_name_item a{
  text-decoration: none;
}
.basket_price_item{
  color: #000000;
  width: 117px;
}
.basket_price_item span{
  color:#ababab;
}
.basket_total_sum{
  margin-left: auto;
  margin-top: 15px;
}
.basket_button{
  width: 172px;
  min-height: 44px;
  border-radius: 26px;
  font-size: 18px;
  line-height: 16px;
  margin-left: auto;
}
.basket-form a{
  color: var(--black);
}
.basket-form p{
  font-size: 15px;
  line-height: 16px;
  font-family: "Roboto Bold","Aria Bold",sans-serif;
  font-weight: 700;
  font-style: normal;
}
.basket-form img{
  margin-top: 2px;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 8px;
}
/*Searcher*/
.search{
  position: relative;
  margin-left: auto;
  margin-top: 14px;
  margin-right: 10px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.search:hover{
  height: 36px;
  border-radius: 0;
}
.search-icon{
  display: block;
  background: var(--users-icon-background);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 8px;
}
.search-icon svg{
  width: 16px;
  height: 16px;
  fill: #fff;
}
.search-icon:hover,
.search-icon:hover svg{
  background:var(--white);
  fill: var(--black);
}
.search-icon:focus,
.search-icon:focus svg{
  background:var(--white);
  fill: var(--black);
}
.searcher-form{
  display: none;
  position: relative;
  left: -308px;
  margin-top: 4px;
  z-index: 2;
}
.search:hover .searcher-form{
  display: block;
}
.search form{
  display: flex;
  justify-content: center;
  position: absolute;
  height: 84px;
  width: 340px;
  background: var(--form-background);
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
.searcher-form input{
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 293px;
  height: 14px;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #D3D3D2;
  border-radius: 4px;
  outline: none;
  align-self: center;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}
.searcher-form input:hover{
  border: 2px solid rgba(178, 178, 178, 0.52);
  height: 12px;
}
.searcher-form input:focus{
  border: 2px solid rgba(46, 136, 228, 0.52);
  height: 12px;
}
/*Breadcrumbs*/
.breadcrumbs{
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 0;
  list-style: none;
  max-width: 900px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}
.breadcrumbs li{
  position: relative;
  text-decoration: none;
  margin-right: 22px;
}
.breadcrumbs li:not(:last-child):after{
  position: absolute;
  content: "";
  height: 6px;
  width: 6px;
  background-image: url("../img/breadcrumbs_next_icon.svg");
  background-repeat: no-repeat;
  right: -14px;
  top: 6px;
}
.breadcrumbs li:last-child{
  margin-right: 0;
}
.breadcrumbs a{
  text-decoration: none;
}
.breadcrumbs a[href]{
  color: var(--white);
  border-bottom: 1px solid var(--text-decoration-grey);
}
.breadcrumbs a[href]:hover{
  color:var(--link-hover);
  border-bottom: 1px solid var(--text-decoration-hover);
}
/*Catalog-name*/
.catalog-name{
  margin-top: 1px;
  margin-left: 1px;
  margin-bottom: 28px;
  font-size: 35px;
  line-height: 41px;
}
/*Slider*/
.slider{
  height: auto;
  margin-bottom: 42px;
  position: relative;
}
.backlight{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(215, 242, 227, 0.75);
  filter: blur(250px);
  z-index: -1;
}
.slider-flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.slider-flex img{
  height:582px;
  width:644px;
  margin-right: 7px;
  margin-bottom: -270px;
}
.slider-option{
  display: flex;
  position: relative;
  align-items: center;
  justify-content:center;
  width: 100%;
}
.slider-button{
  width: 261px;
  min-height: 61px;
  font-size: 32px;
  line-height: 44px;
  border-radius: 70px;
  margin-right: 14px;
  padding-bottom: 2px;
  letter-spacing: 0.05em;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
}
.slider-radio{
  position: absolute;
  max-width: 240px;
  left: 0;
  top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.slider-button-radio{
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  margin-right: 8px;
  margin-bottom: 8px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
.slider-button-radio:hover{
  background-color: rgba(255,255,255,0.4);
}
.slider-button-radio:focus{
  background-color: #ffffff;
}
.slider-radio-selected{
  background-color: #ffffff;
}
.slider p{
  white-space: pre;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  max-width: 672px;
  margin: 0;
  margin-bottom: 27px;
}
/*Shares*/
.shares{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shares-item-1{
  background-image: url("../img/crimson_background.jpg");
}
.shares-item-2{
  background-image: url("../img/chocolate_background.jpg");
}
.shares-item-1,
.shares-item-2{
  position: relative;
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 560px;
  min-height: 229px;
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
}
.shares p{
  font-size: 18px;
  margin: 0;
  margin: 17px;
  max-width: 514px;
}
.shares .heading{
  font-size: 35px;
  line-height: 41px;
  margin-top: 14px;
  margin-bottom: 0px;
}
.shares button{
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  min-width: 164px;
  padding-left: 22px;
  padding-right: 22px;
  min-height: 48px;
  border-radius: 70px;
  margin-top: auto;
  margin-left: auto;
  right: 22px;
  bottom: 22px;
}
/*product*/
.product-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -9px;
  margin-right: -9px;
}
.product-item {
  z-index: 0;
  width: 267px;
  min-height: 324px;
  position: relative;
  padding-left: 9.5px;
  padding-right: 9.5px;
  padding-top: 6px;
  padding-bottom: 29px;
  display: block;
}
.product-item:nth-child(4n){
  margin-right: 0;
}
.product-item a{
  color: var(--white);
  display: block;
  text-decoration: none;
}
.product-item:hover{
  background-color:  rgba(255, 255, 255, 0.2);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 2;
}
.product-item:hover .back-product{
  position: absolute;
  margin-top: 21px;
  background-color:  rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 45px;
  bottom: -45px;
  right: 0;
  width: 100%;
}
.product-item p{
  width: 267px;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.product-item h3{
  text-align: center;
  width: 267px;
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 28px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 22px;
}
.product-item .product-name{
  display: inline;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 400;
}
.product-item span:not(.product-name){
  font-size: 30px;
  line-height: 35px;
}
.product-item .hit{
  position: absolute;
  height: 61px;
  width: 61px;
  margin-bottom: -61px;
  order: 1;
}
.product-item .product{
  border-radius: 50%;
  height: 267px;
  width: 267px;
  margin-bottom: -65.7px;
  object-fit: contain;
}
.product-item button{
  display: none;
  position: absolute;
  bottom: 21px;
  left: 46px;
  width: 200px;
  height: 44px;
  box-shadow: 0px 1px 2px #AC1000;
  border-radius: 50px;
}
.product-item:hover button{
  display: block;
}
.product-item button:hover{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
}
.product-item button:focus{
  background: linear-gradient(0deg, rgba(201, 152, 152, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
  outline: none;
}
/*Information*/
.information{
  background-image: url("../img/pattern.png");
  border-radius: 16px;
  margin-bottom: 40px;
  padding-top: 23px;
  padding-left: 20px;
}
.information-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 55px;
  padding-right: 23px;
  list-style: none;
}
.information-item:before{
  content:"";
  position: absolute;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: 0 0;
  left:-55px;
  top:-8px;
}
.information-item:nth-child(1):before{
  background-image:url("../img/ice_cream_icon.svg");
}
.information-item:nth-child(2):before{
  background-image:url("../img/cow_icon.svg");
}
.information-item:nth-child(3):before{
  background-image:url("../img/leaf_icon.svg");
}
.information-item:nth-child(4):before{
  background-image:url("../img/thermometer_icon.svg");
}
.information-item{
  position: relative;
  width: 482px;
  margin-bottom: 23px;
}
.information-item:nth-last-child(1),
.information-item:nth-last-child(2){
  margin-bottom: 31px;
}
.information p{
  margin:0;
  padding-bottom: 15px;
}
.information p,
.information h2{
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
  font-family: "Roboto Medium","Arial",sans-serif;
  font-weight: 500;
  font-style: normal;
}
.information-item p{
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
}
/*Index columns*/
.index-columns{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.index-columns section{
  margin-bottom: 40px;
}
.index-columns section:nth-child(1),
.index-columns section:nth-child(3n){
  margin-right: 13px;
}
.index-columns section:nth-child(2n){
  margin-left: 13px;
}
/*News*/
.news{
  background-image: url("../img/strawberry_background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 560px;
  min-height: 220px;
  color: var(--black);
}
.news h3{
  font-size: 24px;
  line-height: 30px;
  max-width: 287px;
  margin-left: 20px;
  margin-top: 2px;
  margin-bottom: 0;
}
.news a{
  color: var(--black);
  display: inline;
  text-decoration: underline #353535;
}
.news h2{
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-left:20px;
  margin-top: 17px;
}
/*Mailing*/
.mailing{
  position: relative;
  color: var(--gray);
  width: 560px;
  min-height: 220px;
}
.mailing::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/mail_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  order: -1;
}
.mailing input{
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  display: block;
  height: 44px;
  width: 368px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
  padding: 15px 14px 14px 14px;
}
.mailing input:hover{
  border: 2px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  padding-left: 13px;
}
.mailing input:focus{
  border: 2px solid rgba(46, 136, 228, 0.52);
  border-radius: 4px;
  padding-left: 13px;
}
.mailing button{
  font-size: 18px;
  line-height: 24px;
  width: 130px;
  border-radius: 70px;
  margin-left: auto;
}
.mail-form{
  position:relative;
  margin-top: 4px;
  margin-left: 6px;
  margin-bottom: 5px;
  width: 548px;
  height: 100%;
  background-color: #F8F7F4;
  border-radius: 16px;
  order: 1;
  padding-top:25px;
  padding-bottom: 35px;
}
.mail-form p{
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  margin-bottom: 40px;
  margin-left: 20px;
  width: 512px;
}
.mail-form form{
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
/*Map*/
.map{
  width: 100%;
  height: 428px;
  background-color: #849D8F;
}
.info-and-map{
  position: relative;
}
.iframe_map{
  border: none;
  width: 100%;
  height: 428px;
}
.map_info{
  position: absolute;
  z-index: 2;
  background-color: var(--form-background);
  border-radius: 16px;
  color: var(--black);
  height: 243px;
  width: 228px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  top :62px;
  right: 7px;
  padding-top: 29px;
  padding-left: 25px;
  padding-bottom: 34px;
  padding-right: 53px;
}
.info-and-map a{
  color: var(--black);
  text-decoration: none;
}
.info-and-map p{
  margin: 0;
}
.info-and-map p:nth-of-type(2){
  margin-bottom: 24px;
}
.info-and-map p:nth-of-type(4){
  margin-top: 1px;
}
.info-and-map p:nth-of-type(1){
  max-width: 155px;
  margin-bottom: -2px;
}
.info-and-map p:nth-of-type(1),
.info-and-map p:nth-of-type(3),
.info-and-map p:nth-of-type(4){
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}
.info-and-map p:nth-of-type(2){
  font-size: 18px;
  line-height: 24px;
}
.info-and-map .contacts-phone{
  font-size: 18px;
  line-height: 24px;
}
.info-and-map .button{
  text-align: center;
  color: var(--white);
  position: absolute;
  bottom: 31px;
  width: 253px;
  height: 22px;
  padding-top: 8px;
  padding-bottom: 13px;
  border-radius: 70px;
  font-size: 18px;
  line-height: 24px;
}
.feedback-form{
  position: fixed;
  z-index: 11;
  top: 25%;
  bottom: auto;
  left:50%;
  right:50%;
  transform: translateX(-50%);
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  width: 429px;
  min-height: 398px;
  background-color: var(--form-background);
  border-radius: 6px;
  padding: 15px 25px 27px 23px;
}
.feedback-form form{
  display: flex;
  flex-direction: column;
}
.feedback-form input{
  border-radius: 4px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  margin-bottom: 20px;
  outline: none;
  padding: 16px 14px 16px 14px;
  resize:none
}
.feedback-form input:nth-child(1),
.feedback-form input:nth-child(2){
  width: 237px;
  height: 10px;
}
.feedback-form textarea{
  border-radius: 4px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  margin-bottom: 20px;
  outline: none;
  padding: 12px 14px 16px 14px;
  resize:none;
  width: 398px;
  height: 120px;
  text-align: left;
}
.feedback-form input:nth-child(1):hover,
.feedback-form input:nth-child(2):hover{
  border: 2px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  height: 8px;
  padding-left: 13px;
}
.feedback-form textarea:hover{
  border: 2px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  height: 118px;
  padding-left: 13px;
  padding-top: 15px;
}
.feedback-form input:nth-child(1):focus,
.feedback-form input:nth-child(2):focus{
  border: 2px solid rgba(46, 136, 228, 0.52);
  border-radius: 4px;
  height: 8px;
}
.feedback-form textarea:focus{
  border: 2px solid rgba(46, 136, 228, 0.52);
  border-radius: 4px;
  height: 118px;
  padding-left: 13px;
  padding-top: 15px;
}
.feedback-form input.feedback-error,
.feedback-form textarea.feedback-error{
  border: 1px solid red;
}
.feedback-form textarea.feedback-error:hover{
  border: 2px solid rgba(178, 178, 178, 0.52);
  height: 120px;
}
.feedback-form p{
  margin: 0;
  margin-bottom: 21px;
  font-size: 24px;
  line-height: 28px;
  font-family: "Roboto Medium","Arial",sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--black);
}
.feedback-form .button{
  position: absolute;
  bottom:27px;
  right: 25px;
  font-family: "Roboto Bold","Aria",sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  width: 140px;
  min-height: 44px;
  border-radius: 70px;
}
.feedback-close{
  position: absolute;
  top:15px;
  right: 16px;
  width: 18px;
  height: 17px;
  background: none;
  outline: none;
  border: none;
  background-image: url("../img/close_big_icon.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
/*Filter-Option*/
.filters{
  width: 900px;
  margin-bottom: 20px;
}
.filter{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filter-option{
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  margin-right: 15px;
  position: relative;
}
.filter-option legend{
  margin-left: 16px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 7px;
}
/*Sorting*/
.sorting{
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto Medium","Arial",sans-serif;
  font-weight: 500;
  font-style: normal;
  position: relative;
  width: 196px;
  height: 35px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color:var(--white);
  outline: none;
  border: none;
  appearance: none;
  padding-left: 16px;
  padding-bottom: 1px;
}
.sorting-arrow-icon{
  width: 11px;
  height: 10px;
  fill: #ECF1EE;
  position: absolute;
  right: 14px;
  top: 11.5px;
  z-index: -1;
}
.sorting-menu:hover .sorting,
.sorting-menu:hover .sorting-arrow-icon{
  color: var(--black);
  fill: var(--black);
}
.sorting-menu:focus .sorting,
.sorting-menu:focus .sorting-arrow-icon{
  color: var(--black);
  fill: var(--black);
}
/*Range*/
.filter-item{
  padding: 0;
  border: none;
}
.range-filter{
  width: 218px;
  min-height: 36px;
}
.filter-item legend {
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto Medium","Arial",sans-serif;
  font-weight: 500;
  font-style: normal;
}
.range-controls {
  position: relative;
  height: 20px;
  padding-top: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-right: 21px;
  padding-left: 21px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(248, 247, 244, 0.5);
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #F8F7F4;
}
.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color:  #ABABAB;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 0;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 136px;
}
/*Filter-radio*/
.filter-radio{
  display: block;
  min-height:36px;
  width: 425px;
}
.filter-radio-back{
  margin:0;
  padding: 7px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-family: "Roboto Medium","Arial",sans-serif;
  font-weight: 500;
  list-style: none;
  min-height: 22px;
  line-height: 18px;
  display: flex;
  justify-content: space-around;
}
.filter-radio-back label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
  margin-top: 3px;
}
.filter-radio-back label:hover{
  opacity: 1;
}
.filter-radio-back li{
  padding-left: 33px;
}
.filter-input-radio + label::before{
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 15px;
  height: 15px;
  border: 4px solid white;
  border-radius: 50%;
  opacity: 0.8;
}
.filter-input-radio:checked + label::after{
  content: "";
  position: absolute;
  left: -27px;
  top: 4px;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0.8;
}
/*Filter-checkbox*/
.filter-check-box{
  display: block;
  width: 711px;
  max-height:36px;
}
.filter-check-box legend{
  margin-bottom: 9px;
}
.filter-check-box-back li{
  padding-left: 30px;
  margin-top: -2px;
}
.filter-check-box-back label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
}
.filter-check-box-back label:hover{
  opacity: 1;
}
.filter-input-checkbox + label::before{
  content: "";
  position: absolute;
  left: -34px;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/checkbox_off.svg");
  background-repeat: no-repeat;
}
.filter-input-checkbox:checked + label::before{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.filter-input-checkbox:checked + label::after{
  content: "";
  position: absolute;
  left: -34px;
  top: 0;
  width: 24px;
  height: 20px;
  background-image: url("../img/checkbox_on.svg");
  background-repeat: no-repeat;
  background-size: 95% 100%;
}
.filter-option legend:nth-child(4){
  margin-bottom: 11px;
}
.filter-check-box-back{
  padding: 8px 7px;
  margin: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  list-style: none;

  display: flex;
  justify-content: space-around;
}
/*Filter-button*/
.filter-button{
  display: block;
  margin-top: 26px;
  margin-bottom: 14px;
  margin-right: 15px;
  width: 144px;
  min-height: 36px;
  color: var(--white);
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--white);
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  justify-self: baseline;
}
.filter-button:hover{
  background: var(--white);
  color: var(--black);
}
.filter-button:focus{
  box-shadow: inset 0px 2px 1px #696969;
  background: var(--white);
  color: var(--black);
}
/*Pagination*/
.pagination-list{
  margin-right: -14px;
  margin-bottom: 27px;
  margin-top: 45px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.pagination-list a{
  font-size: 16px;
  line-height: 18px;
  display: block;
  width: 18px;
  height: 24.5px;
  border-radius: 50%;
  color: var(--white);
  text-decoration: none;
  padding-top: 4px;
  padding-left: 9px;
  padding-right: 1px;
}
.pagination-next{
  margin-left: 6px;
}
.pagination-back{
  margin-right: 10px;
}
.pagination-back svg{
  fill:white;
  transform: rotate(180deg);
}
.pagination-next svg{
  fill:white;
}
.selected-pagination a{
  background-color: var(--white);
}
.pagination-list a:not([href]){
  color: var(--black);
}
.pagination-back>a:not([href])>svg {
  opacity: 0.2;
}
.pagination-item{
  margin-right: 2px;
}
.pagination-item-a[href]:hover{
  background: rgba(255, 255, 255, 0.2);
}
.pagination-item-a[href]:focus,
.pagination-item-a[href]:focus svg{
  background: var(--white);
  color: var(--black);
  fill: var(--black);
}
/*Footer*/
.main-footer{
  min-height: 103px;
  padding-top:20px;
  padding-bottom: 26px;
  padding-left: 29px;
  padding-right: 27px;
}
.footer-center{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-social{
  width: 164px;
  margin-left: -1px;
}
.footer-social ul{
  display: flex;
  max-width: 170px;
  padding-left: 0;
  list-style: none;
}
.footer-social li{
  margin-bottom: 10px;
  margin-right: 8px;
}
.footer-social li:nth-child(n+4){
  margin-right: 0;
}
.footer-social a{
  display: block;
  width:32px;
  height:32px;
  border-radius: 50%;
  border:2px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.footer-social svg{
  fill: rgba(255, 255, 255, 0.8);
}
.footer-social svg:hover{
  fill: var(--white);
}
.footer-social svg:focus{
  fill: var(--white);
}
.footer-info{
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  width: 327px;
  margin-left: 49px;
}
.footer-info a{
  color: var(--white);
  border-bottom: 1px solid var(--text-decoration-grey);
  text-decoration: none;
}
.footer-info a:hover{
  border-bottom: 1px solid var(--text-decoration-hover);
  color: var(--link-hover);
}
.footer-info ul{
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}
.footer-info li{
  display: inline;
  width: 143px;
  margin-bottom: 6px;
}
.footer-info li:nth-of-type(4){
  width: 162px;
}
.footer-info li:nth-of-type(1){
  font-family: "Roboto Bold","Aria Bold",sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
}
.footer-info li:nth-of-type(1)::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart_icon.svg");
  background-repeat: no-repeat;
  left: -22px;
  top: 5px;
}
.footer-copyright{
  justify-self: end;
  margin-top: -1px;
}
.footer-copyright a{
  text-decoration: none;
}
.footer-copyright p{
  margin: 0;
  margin-top: 1px;
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--white);
}
