.example {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  background-color: #eaeaea;
  margin-top: 42px;
  padding-top: 27px;
  padding-bottom: 40px;
  z-index: -2;

  @media (min-width: 768px) {
    background-color: @white;
    padding-top: 64px;
    margin-top: 0;

    &::before {
      content: "";
      width: 100%;
      height: 462px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #EAEAEA;
      z-index: -1;
    }
  }

  @media (min-width: 1440px) {
    flex-direction: column;
    max-height: 656px;
    padding-top: 0;

    &::before {
      background-color: #F2F2F2;
      right: 0px;
    }
  }
}

.example h2 {
  .font(normal;);
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: 1440px) {
    width: fit-content;
    padding-top: 69px;
    margin-bottom: 146px;
  }
}

.example__history {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: @special-dark-grey;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }

  @media (min-width: 1440px) {
    max-width: 440px;
  }
}

.example__result-list {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;

  @media (min-width: 768px) {
    justify-content: flex-start;
    margin-top: 54px;
  }

  @media (min-width: 1440px) {
    width: fit-content;
    height: 72px;
    margin-bottom: 60px;
  }
}

.example__result-item {
  display: inline-block;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  width: 124px;
  padding-top: 15px;
  position: relative;
  margin-bottom: 20px;
  margin-right: 31px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  @media (min-width: 768px) {
    margin-right: 42px;
    width: 162px;
  }

  @media (min-width: 1440px) {
    height: 55px;
  }
}

.example__result-day,
.example__result-weight {
  font-size: 24px;
  line-height: 24px;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__result-description {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  margin-left: 18px;
  margin-right: 18px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  bottom: -15px;
  background-color: #eaeaea;
  color: @special-dark-grey;

  @media (min-width: 768px) {
    background-color: @white;
    font-size: 14px;
    line-height: 14px;
    padding-left: 8px;
    padding-right: 8px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: max-content;
  }

  @media (min-width: 1440px) {
    background-color: #F2F2F2;
  }
}

.example__expenses {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: 768px) {
    text-align: right;
    margin-left: auto;
    max-width: 180px;
    margin-top: 54px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: 1440px) {
    text-align: left;
    max-width: inherit;
    width: auto;
    margin: 0;
  }
}

.example__expenses span {
  @media (min-width: 1440px) {
    margin-left: 63px;
  }
}

.example__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -20px;

  @media (min-width: 768px) {
    margin: 0;
  }

  @media (min-width: 1440px) {
    width: fit-content;
  }
}

.example__img-mobile {
  margin-top: 42px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    width: 708px;
    height: 620px;
  }

  @media (min-width: 1440px) {
    width: 730px;
    height: 536px;
    margin: 0;
  }
}
