.page-header {
  .font(medium;);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7px 20px 15px 20px;
  position: relative;
  width: 320px - 20px - 20px;
}
.page-header__logo{
  width: 190px;
}
